services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/rails
    env_file:
      - .env
    depends_on:
      - redis
  pricing-api:
    image: tripladev/rate-api:latest
    ports:
     - "8080:8080"
  redis:
    image: redis:7.0
    ports:
      - "6379:6379"
